.RhythmGuitar {
    height: 100vh;
    width: 100vh;
    text-align: center;
}

.rhythem-guitar-header {
  height: 10vh;
  width: 100vw;
}

.rhythm-guitar-fretboard {
  height: 50vh;
  width: 100vw;
}

.rhythm-guitar-chord-list {
  height: 30vh;
  width:100vw;
  display: flex;
  flex-direction: row;
  justify-items: center;

}

.rhythm-guitar-chord {
  width: 25vw;
  outline-width: 3px;
  outline-color: black;
  stroke-width: 5px;
}

.rhythm-guitar-footer {
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.rhythm-guitar-footer > div {
  width: 50%;
}